### For Loop

In [1]:
seq= [1,2,3,4,5]

In [9]:
for num in seq:
    print(num)

1
2
3
4
5

In [10]:
for num in seq:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

### While Loop

In [35]:
i=1
for i in seq:
    print('The square of {} is {}'.format(i,i**2))
    i=i+1

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

### Range

In [33]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [14]:
x= list(range(0,5))
x

[0, 1, 2, 3, 4]

In [15]:
for i in x:
    print(x[i]**2)

0
1
4
9
16

In [29]:
x= list(range(11,18))
x
for i in range(0,7):
    print(x[i]**2)

121
144
169
196
225
256
289

In [34]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### List Comprehension

In [37]:
x=[1,2,3,4,5,6,7,8]
out=[]
for i in x:
    out.append(i**2)
print(out)

[1, 4, 9, 16, 25, 36, 49, 64]

In [38]:
out=[i**2 for i in x]
out

[1, 4, 9, 16, 25, 36, 49, 64]

In [41]:
[i**3 for i in x]

[1, 8, 27, 64, 125, 216, 343, 512]

### Function

In [60]:
def f(x,y):
    return(x**2+2*x*y+y**2)
f(3,9)

144

In [57]:
def f(x):
    print(x**2)
for i in range(9):
    f(i)

0
1
4
9
16
25
36
49
64

In [58]:
list= [i**2 for i in range(9)]
list

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [59]:
def f(x):
    return(x**2)
for i in range(9):
    print(f(i))

0
1
4
9
16
25
36
49
64